<section class="section-bg">
    <div class="experiencia">
        <div class="formacao-conteudo">
            <h1>Formação</h1>
            <h2>Minha mais recente experiência vem sendo o curso de <span>Análise e Desenvolvimento de Sistemas</span> no Instituto Federal da Bahia.</h2>
            <button class="botao-cv">
                Confira o meu cv
            </button>
        </div>
        <div class="formacao-e-idiomas">
        <div class="card-education">
            <app-card 
            [title]="'Administração'"
            [subtitle]="'Técnico'"
            [institution]="'GRAU TÉCNICO'"
            style="height: 150px;">
            </app-card>
            <app-card
            [title]="'Análise e Desenvolvimento de Sistemas'"
            [subtitle]="'Graduação'"
            [institution]="'IFBA'"
            style="height: 150px;">
            </app-card>
        </div>
        <h1 class="idiomas-title">Idiomas</h1>
        <p class="english">Inglês / Intermediário</p>
    </div>
</div>
</section>


